@model EmployeesWorld.Models.Employee

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />


@using (Html.BeginForm("Create", "Employee", FormMethod.Post))
{
<div class="container">
    <h4>Employee Create Page</h4>
    <hr />
    <table class="table table-bordered table-striped table-hover" style="background-color:#c7c3c3">
        <tr>
            <th class="text-white">@Html.Label("Name")</th>
            <td>@Html.TextBoxFor(i => i.Name, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <th class="text-white">@Html.Label("Title")</th>
            <td>@Html.TextBoxFor(i => i.Title, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <th class="text-white">@Html.Label("Location")</th>
            <td>@Html.TextBoxFor(i => i.Location, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <th class="text-white">@Html.Label("Image")</th>
            <td>@Html.TextBoxFor(i => i.Image, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <th class="text-white">@Html.Label("School Name")</th>
            <td>@Html.TextBoxFor(i => i.Education[0].SchoolName, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <th class="text-white">@Html.Label("Degree")</th>
            <td>@Html.TextBoxFor(i => i.Education[0].Degree, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <th class="text-white">@Html.Label("Department Name")</th>
            <td>@Html.TextBoxFor(i => i.Education[0].DepartmentName, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <th class="text-white">@Html.Label("Start Date")</th>
            <td>@Html.TextBoxFor(i => i.Education[0].StartDate, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <th class="text-white">@Html.Label("End Date")</th>
            <td>@Html.TextBoxFor(i => i.Education[0].EndDate, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <th class="text-white">@Html.Label("Average")</th>
            <td>@Html.TextBoxFor(i => i.Education[0].Average, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <th class="text-white">@Html.Label("Title")</th>
            <td>@Html.TextBoxFor(i => i.Experience[0].Title, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <th class="text-white">@Html.Label("Company Name")</th>
            <td>@Html.TextBoxFor(i => i.Experience[0].CompanyName, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <th class="text-white">@Html.Label("isCurrent")</th>
            <td>@Html.TextBoxFor(i => i.Experience[0].isCurrent, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <th class="text-white">@Html.Label("Start Date")</th>
            <td>@Html.TextBoxFor(i => i.Experience[0].StartDate, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <th class="text-white">@Html.Label("End Date")</th>
            <td>@Html.TextBoxFor(i => i.Experience[0].EndDate, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <th class="text-white">@Html.Label("Skill")</th>
            <td>@Html.TextBoxFor(i => i.Skill[0].Name, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <th class="text-white">@Html.Label("Phone Number")</th>
            <td>@Html.TextBoxFor(i => i.Communication.PhoneNumber, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <th class="text-white">@Html.Label("E-mail Adress")</th>
            <td>@Html.TextBoxFor(i => i.Communication.EMailAdress, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <th class="text-white">@Html.Label("Adress")</th>
            <td>@Html.TextBoxFor(i => i.Communication.Adress, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <th class="text-white">@Html.Label("LinkedIn Adress")</th>
            <td>@Html.TextBoxFor(i => i.Communication.LinkedinAdress, new { @class = "form-control" })</td>
        </tr>

        @*<tr>
            <th class="text-white">@Html.Label("Education")</th>
            <td id="educationTd">
                <button class="btn text-white" style="background-color:#1e309a;" type="button" onclick="addEducation()">Add Education</button>
            </td>
        </tr>
        <tr>
            <th class="text-white">@Html.Label("Experience")</th>
            <td id="experienceTd">
                <button class="btn text-white" style="background-color:#1e309a;" type="button" onclick="addEducation()">Add Experience</button>
            </td>
        </tr>
        <tr>
            <th class="text-white">@Html.Label("Skills")</th>
            <td id="skillTd">
                <button class="btn text-white" style="background-color:#1e309a;" type="button" onclick="addEducation()">Add Skill</button>
            </td>
        </tr>
        <tr>
            <th class="text-white">@Html.Label("Contact")</th>
            <td id="commTd">
                <button class="btn text-white" style="background-color:#1e309a;" type="button" onclick="addEducation()">Add Contact Info</button>
            </td>
        </tr>*@
    </table>
    <button class="btn text-white" style="background-color:#1e309a;"  type="submit" role="button">Create</button>
</div>

}

<script>
    function addEducation() {
        var educationTd = document.getElementById("educationTd");
        //if (educationTd.hasChildNodes()) {
        //    educationTd.firstChild.remove();
        //}
        educationTd
    }
</script>
