@using static EmployeesWorld.Models.Skill

@model EmployeesWorld.Models.Employee

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<hr />
<hr />
<hr />
<div class="container">
    @using (Html.BeginForm("Update", "Employee", FormMethod.Post))
    {
    <table class="table table-bordered table-striped table-hover">

        <tr>
            <th>Name</th>
            <td>
                @Html.TextBoxFor(i => i.Name, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <th>Title</th>
            <td>
                @Html.TextBoxFor(i => i.Title, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <th>Location</th>
            <td>
                @Html.TextBoxFor(i => i.Location, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <th>Image</th>
            <td>
                @Html.TextBoxFor(i => i.Image, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <th>Skills</th>
            <td>
                @for (int a = 0; a < Model.Skill.Count(); a++)
                {
                    @Html.TextBoxFor(i => i.Skill[a].Name, new { @class = "form-control" })
                }
            </td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <td>
                @Html.TextBoxFor(i => i.Communication.PhoneNumber, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <th>E-mail Adress</th>
            <td>
                @Html.TextBoxFor(i => i.Communication.EMailAdress, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <th>Adress</th>
            <td>
                @Html.TextBoxFor(i => i.Communication.Adress, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <th>LinkedIn Adress</th>
            <td>
                @Html.TextBoxFor(i => i.Communication.LinkedinAdress, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <th>Education</th>
            <td>
                @for (int a = 0; a < Model.Education.Count(); a++)
                {
                    @Html.TextBoxFor(i => i.Education[a].SchoolName, new { @class = "form-control" })
                    @Html.TextBoxFor(i => i.Education[a].Degree, new { @class = "form-control" })
                    @Html.TextBoxFor(i => i.Education[a].DepartmentName, new { @class = "form-control" })
                    @Html.TextBoxFor(i => i.Education[a].StartDate, new { @class = "form-control" })
                    @Html.TextBoxFor(i => i.Education[a].EndDate, new { @class = "form-control" })
                    @Html.TextBoxFor(i => i.Education[a].Average, new { @class = "form-control" })
                }
            </td>
        </tr>
        <tr>
            <th>Experience</th>
            <td>
                @for (int a = 0; a < Model.Experience.Count(); a++)
                {
                    @Html.TextBoxFor(i => i.Experience[a].Title, new { @class = "form-control" })
                    @Html.TextBoxFor(i => i.Experience[a].CompanyName, new { @class = "form-control" })
                    @Html.TextBoxFor(i => i.Experience[a].isCurrent, new { @class = "form-control" })
                    @Html.TextBoxFor(i => i.Experience[a].StartDate, new { @class = "form-control" })
                    @Html.TextBoxFor(i => i.Experience[a].EndDate, new { @class = "form-control" })
                }
            </td>
        </tr>
    </table>
        <button class="btn" style="background-color:#edd98b" type="submit" role="button" >Update</button>
    }
</div>

